
.container .head img{
    width: 13%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
*{
    margin: 0px;
    padding: 0px;
}

.container .head{
    /* background-color: rgb(60,60,160); */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0px 50px;
}
.container .head a{
    text-decoration: none;
    background-color: #E50914;
    color: white;
    padding: 8px 18px;
    border-radius: 4px;

}
.banner{
    width: 100%;
    height: 100vh;
    
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.banner .box{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
}

.banner .box .heading h1{
    color: white;
    font-size: 3.9em;
    letter-spacing: 2px;
    width: 90%;
    
}

.banner .box .heading h5{
    color: white;
    font-size: 1.7em;
    font-weight: 400;
    padding: 1rem;
}

.banner .box .heading p{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
}

.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .email input{
    height: 50px;
    min-width: 550px;
    align-items: center;
    outline: none;
    border: 1px solid grey;
    color: black;
    font-size: 16px;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    
    
}

.banner .box .email input::placeholder{
position:absolute;
top: 22px;
left: 10px;

}

.banner .box .email a{
    text-decoration: none;
    color: white;
    background-color: #E50914;
    padding: 0px 30px;
    margin-left: 2px;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 61px;
    min-width: 180px;
    letter-spacing: 0.1px;
    
}
.banner::before{
    content:  '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, black, transparent);
}

.banner::after{
    content:  '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, black, transparent);
}

.card-1,
.card-2,
.card-3,
.card-4{
    border-top: 8px solid #111;
    padding: 50px;
    color: white;
}

.card-1, .card-3{
    position: relative;
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    text-align: left;
    padding: 25px 45px 50px;
}

.desc-1{
    padding-left: 200px;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0rem;
}

.style-cards p{
    font-size: 1.7rem;
    line-height: 2rem;
}

.card-1 video{
    position: relative;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    width: 82%;
    margin-left: 14%;
    max-width: 100%;
    height: auto;
    box-sizing: content-box; /* screen zoom karne par bhi video correct dikhne ke liye*/
    
}

.card-1 img{
    max-width: 100%;
    height: auto;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 .video-3{
    position: relative;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 27%;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
}

.card-3 img{
    max-width: 100%;
    height: auto;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2, .card-4{
    position: relative;
    display: grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2{
    padding-left: 120px;
    margin-left: 5%;
}

.desc-4{
    padding-left: 120px;
    margin-left: 5%;

}

 .card-2 img{
    max-width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 20%;
} 

 .card-4 img{
    max-width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 30%;
}   

.card-2 .downloading{
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center;
    border: 2px solid #404040;
    border-radius: .75em;
    padding: 8px;
    justify-content: space-between;
    left: 35%;
    grid-column: 1/2;
    grid-row: 1/2;
    top: 27%;
    max-width: 55%;
}

.card-2 .downloading .small{
    width: 55px;
    max-width: 90%;
    padding-left: 2px;
}

.card-2 .downloading span{
    width: 65px;
    max-width: 100%;
}

.card-2 .downloading h1{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
}

.card-2 .downloading span{
    font-family: Arial, Helvetica, sans-serif;
    color: #0071EB;
 }